@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--dark-blue);
}

body {
  margin: 0;
  padding: 0;
}

.container,
.track-container {
  position: relative;
  padding: var(--space-big);
  max-width: 960px;
}

.track-container {
  padding-bottom: var(--space-small);
}

button {
  color: var(--dark-blue);
  padding: var(--space-small);
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

.track-container .card {
  background-color: var(--beige);
  border-radius: 20px;
  padding: var(--space-big);
}

.status {
  color: var(--lemon-green);
}

.container .header {
  padding: var(--space-medium) 0;
  justify-content: space-between;
}

@media screen and (min-width: 43rem) {
  .container,
  .track-container {
    padding: var(--space-big) var(--space-xbig) 0;
  }
}

@media screen and (min-width: 62rem) {
  .container,
  .track-container {
    padding: var(--space-big) var(--space-xxbig) 0;
  }
}

@media screen and (min-width: 82rem) {
  .container,
  .track-container {
    padding: var(--space-big) var(--space-xxbig) 0;
  }
}
