@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: var(--dark-blue)
}

body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  padding: var(--space-big);
}

button {
  color: var(--dark-blue);
  padding: var(--space-small);
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

.container .card {
  background-color: var(--beige);
  border-radius: 20px;
  padding: var(--space-big);
}

.status {
  color: var(--lemon-green);
}


.container .header {
  padding: var(--space-medium) 0;
  justify-content: space-between;
}



