@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--dark-blue);
}

body {
  margin: 0;
  padding: 0;
}

.container {
  padding: var(--space-big);
  max-width: 960px;
  margin: 0 auto;
}

button {
  color: var(--white);
  padding: var(--space-small);
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

.track-section .card-container,
.parcel-info .card-container {
  background-color: var(--beige);
  border-radius: 20px;
  padding: var(--space-big);
}

.status {
  color: var(--lemon-green);
}

.parcel-info .header {
  padding: var(--space-medium) 0;
  justify-content: space-between;
}


