.navbar {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 60px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content:center;
  padding: var(--space-small) var(--space-big);
}

.company-name {
  margin: 0;
  color: var(--lemon-green);
  font-size: 16px;
}

.nav-btn {
  background-color: var(--light-gray);
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.nav-btn:hover, 
.nav-btn:visited,
.nav-btn:focus {
  background-color: #fed6b8;
  border-radius: 40px;
}

@media screen and (min-width: 43rem){
  .navbar {
    height: 80px;
  }

  .navbar .container {
    padding: var(--space-medium) var(--space-xbig);
  }

  .company-name {
    font-size: 30px;
  }
}

@media screen and (min-width: 62rem){
  .navbar .container {
    padding: var(--space-medium) var(--space-xxbig);
  }
}


