.card-header,
.header,
.location {
  display: flex;
  align-items: center;
}

.card-header {
  justify-content: space-between;
}

.back-icon {
  cursor: pointer;
}

.location {
  margin-bottom: var(--space-medium);
}

.location-icon {
  margin: var(--space-big) var(--space-small) 0 0;
}

.location-name {
  margin-top: var(--space-big);
}

.additional-info {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-medium);
  text-align: justify;
  text-justify: inter-word;
}

.bg-img {
  width: 150px;
  height: 200px;
  position: absolute;
  top: 105%;
  left: 35%;
}

@media screen and (min-width: 43rem){
  .bg-img {
    left: 40%;
  }
}

@media screen and (min-width: 62rem){
  .bg-img {
    left: 42%;
  }
}
