.login {
  display: flex;
  position: relative;
  text-align: center;
}

.login .container {
  padding: 0;
  max-width: 960px;
}

.container .hero-img {
  width: 100%;
}

.card {
  height: 220px;
  position: absolute;
  bottom: -140px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 5px #333;
}

.info-card {
  background-color: var(--beige);
  height: 160px;
  border-radius: 20px;
  margin: var(--space-medium);
  padding: var(--space-medium) var(--space-big) var(--space-small)
    var(--space-big);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.input-field {
  width: 200px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.input-field:focus {
  border: 2px solid var(--dark-blue);
}

.search-icon {
  position: absolute;
  right: 100px;
  cursor: pointer;
  min-width: 30px;
}

@media screen and (min-width: 26rem) {
  .login .container {
    padding: 0 var(--space-xbig);
  }

  .container .hero-img {
    width: 415px;
  }

  .card {
    min-width: 415px;
    max-width: 415px;
  }

  .search-icon {
    right: 105px;
  }
}

@media screen and (min-width: 43rem) {
  .container .hero-img {
    object-fit: cover;
  }

  .login .container {
    padding: 0 var(--space-xxbig);
  }

  .card {
    bottom: -168px;
  }
}

@media screen and (min-width: 62rem) {
  .login .container {
    padding: 0 512px;
  }
}
