.login {
  display: flex;
  position: relative;
  text-align: center;
}

.login .container {
  padding: 0;
  max-width: 960px;
}

.container .hero-img {
  width: 100%;
}

.card {
  height: 220px;
  position: absolute;
  bottom: -140px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 5px #333;
}

.info-card {
  background-color: var(--beige);
  height: 160px;
  border-radius: 20px;
  margin: var(--space-medium);
  padding: var(--space-medium) var(--space-big)var(--space-small)var(--space-big);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.input-field {
  width: 200px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.input-field:focus {
  border: 2px solid var(--dark-blue);
}

.search-icon {
  position: absolute;
  right: 85px;
  cursor: pointer;
  min-width: 30px;
}

@media screen and (min-width: 27rem) {
  .login .container {
    padding: 0 var(--space-xbig);
  }

  .container .hero-img {
    width: 415px;
  }

  .card {
    min-width: 415px;
    max-width: 415px;
  }

  .search-icon {
    right: 105px; 
  }
}

@media screen and (min-width: 43rem) {
  .container .hero-img {
    object-fit: cover;
  } 

   .login .container {
    padding: 0 var(--space-xxbig);
  }

  .card {
    bottom: -50px;
  }

  
}




/* 

@media screen and (min-width: 27rem) {  
  .login {
    padding: 0 var(--space-big);
  }
  
  .login .hero-img {
    width: 400px;
    height: 570px;
    object-fit: cover;
  } 

  .login .container {
    width: 345px;
    left: 50px; 
    margin: 25px;
  }

  .input-container img {
    right: 100px;
  }
}

@media screen and (min-width: 43rem) {
  
  
  .login .hero-img {
    width: 470px;
    height: 570px;
  } 

  .login .container {
    bottom: 50px;
    left: 520px;
    width: 250px;
    height: 400px;
    padding: var(--space-big);
    margin-right: var(--space-big) ;
    background-color: red;
    
  }

  .container .login-card {
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input-container img {
    right: 80px;
  }

  @media screen and (min-width: 62rem) {
    .login {
      padding: 0 var(--space-xxbig) ;
    }

    .login .container {
      left: 740px;      
    }
  }
} 
 */
